/*-----------------------
	Main Styles
-----------------------*/

/*------

*{
box-sizing: border-box;		

}

body {
  
  font-family: 'Muli', sans-serif;
  color: gray;


}

-----*/

.container {
	padding: 40px;

}

.grid__col--3,
.grid__col--9,
.grid__col--4,
.form,
.grid__col--6,
.grid__col--12,
.grid__col--5,
.grid__col--7,
.grid__col--8 {
	display: flex;
	flex-direction: column;


}

.grid__row{
margin-top: 30px;


}

.grid__col--3 {
	align-items: center;

}

.grid__col--3.theme__colors {
	color: gray;
	background-color: #bdabfc;
	align-items: center;
	margin-top: 8px;
	margin-bottom: 8px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-radius: 8px;
	
}

.grid__col--4 {
	margin-top: 50px;
}

.grid__col--4.theme__colors {
	color: gray;
	background-color: #4DD7FF;
	margin-top: 8px;
	margin-bottom: 8px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-radius: 8px;
	
}

.grid__col--5 {
	color: gray;
	background-color: #86dfa7;
	margin-top: 8px;
	margin-bottom: 8px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-radius: 8px;

}

.grid__col--6.theme__colors {
	color: darkgray;
	background-color: #148bae;
	justify-content: space-between;
	align-items: ;
	margin-top: 8px;
	margin-bottom: 8px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-radius: 8px;
}

.grid__col--7 {
	color: gray;
	background-color: #e58282;
	margin-top: 8px;
	margin-bottom: 8px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-radius: 8px;
}

.grid__col--8.theme__colors {
	color: gray;
	background-color: #f4aa89;
	margin-top: 8px;
	margin-bottom: 8px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-radius: 8px;

}




/*-----
.theme__colors {
	align-items: center;
}
----*/

.img--logo {
	width: 175px;
	
}



.grid__col--12.theme__colors {
	color: gray;
	background-color: #6adfad;
	justify-content: ;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-top: 40px;
	margin-bottom: 40px;
	border-radius: 8px;

}


.nav {
	margin-top: 20px;
	padding: 20px;

}

/*------
.nav a {
	display: block;
	
	color: #797e83;
	font-size: 1.125em;
	font-weight: 300;
	text-align: center;
	padding: .8em;
	text-decoration: none;


}


.nav a:hover {
	color: white;
	background-color: #6adfad;
	border-radius: 5px;
}

---*/

.nav__item {

	list-style-type: none;
	max-width: 100%;
	margin: auto;
}


.headline--primary {
	padding-left: 25px;
	color: #49d09d;
}

/*---
.link {
	text-decoration: none;
	color: #3ac2ea;
}

---*/

.blockquote {
	font-weight: 400;
	font-size: 22px;
	padding-left: 20px;
	border-left: 10px solid #49d09d;
	border-bottom-left-radius: 3%;
	border-top-left-radius: 3%; 
}

.headline--secondary {
	
	
}

/*---
#type {
	font-weight: normal;

}

----*/

#forms {
	padding-left: 25px;
	font-size: 17px;
}

/*---

legend {
  font-size: 1.3em;
  margin-bottom: 10px;
}




.form__label--hidden {
  display: none;
 
}

----*/


input[type="text"],
input[type="password"],

textarea,
select {
  padding: 8px;
  width: 100%;
  margin-bottom: px;
  border-top: none;
  border-bottom: 5px solid #49d09d;
  border-left: none;
  border-right: none;
  
} 

.form__input{ 
	margin-top: 20px;
	margin-bottom: 20px;
	max-width: 92%;
	align-self: center;

}
/*----
.btn--default {
	margin-top: 15px;
	background-color: #35b0ec;
	
}




#images {
	font-weight: normal;
	margin-top: 50px;

}

----*/

.img--avatar {
	max-width: 80%;
	align-self: center;
	padding: 20px;
	margin: none;
	
}

.img--frame {
	align-self: center;
	border: 1px solid gray;
	max-width: 100%;
	padding: 10px;
	margin-top: 20px;
}

/*----

#buttons {
	font-weight: normal;
}

#grid {
	font-weight: normal;
}
-----*/


.btn--default,
.btn--success,
.btn--error,
.btn--warning,
.btn--info {
	color: white;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 7px;
	border: none;
	margin-left: 5px;
	margin-right: 5px;
	
}

/*----

.btn--success.theme__colors {
	background-color: #30d68f;
	
}

.btn--error.theme__colors {
	background-color: #d47453;
}

.btn--warning.theme__colors {
background-color: #f48656;
}

.btn--info.theme__colors {
	background-color: #9471ea;

}


----*/




/*-----------------------
	Media Queries
-----------------------*/

@media (min-width: 760px){
	.grid__row,
	.grid__col--3,
	.grid__col--4,
	.grid__col--6,
	.grid__col--8,
	.grid__col--9,
	.form,
	.nav,
	.theme__colors	 {
		display: flex;
		flex-direction: row;
		justify-content: center;

	}

	.grid__row {
		justify-content: space-between;

		
		
	}

	
	.container {
		padding-left: 20px;
		padding-right: 20px;

	}
	.grid__col--3{
		padding-left: 10px;

	}

	.grid__col--4 {

		display: flex;

		margin-top: 0px;
		

		
	}

	.grid__col--6 {

		
	}

	.img--frame {
		
	}

	.img--avatar {
		border-radius: 50%;
	}

	.grid__col--9 {

	}

	.theme__colors {
		
		

	}

	.nav {
		padding-right: 90px;
		padding-left: 0px;
		margin: auto;

	}

	.nav__item { 
		font-size: small;
	 } 

	 .img--logo {
	  	max-width: 60%;

	 }

	 /*-----

	 p {
	 	font-size: 12px;
	 	line-height: 19px;

	 }

----*/
	.headline--primary {
		padding-left: 15px;
		padding-bottom: 10px;
		font-size: 22px;

	}

	.blockquote {
		font-size: 16px;
		margin-top: 40px;
	}

	.img--frame {
		max-width: 75%;
	}

	.img--avatar {
	
		max-width: 90%;
		max-height: 180px;
		
		
	}

	.grid__col--6 .img--avatar {
		margin-right: 85px;
		max-width: 70%;
		max-height: 185px;
		
	}

	
	.form {
		display: flex;
		flex-direction: column;
		width: 275px;


	}
	
	.form__input{ 
	margin-top: 2px;
	margin-bottom: 2px;
	max-width: 92%;
	align-self: center;
	background-color: ;

	}

	.form .btn--default {
		width: 100%;
		align-self: center;
		margin-top: none;
			
	}


	#forms {
	padding-left: 0px;
	margin-top: 20px;

	
	}

	.headline--secondary {
		
		

	}



	.card {
		
		
		
	}

	.grid__col--8 {
		
		
		
		
					
	}

	

	.grid__col--12 {
		
		flex-direction: row;
		flex-grow: 1;
		margin-right: 5px;
		margin-left: 5px;
		margin-bottom: -15px;
		margin-top: 5px;

	}

	.grid__col--12.theme__colors {
		margin-bottom: 5px;
		margin-top: 5px;

	}


	.btn--default.theme__colors,
	.btn--success.theme__colors,
	.btn--error.theme__colors,
	.btn--warning.theme__colors,
	.btn--info.theme__colors {
		flex-grow: 1;
		margin-top: 5px;
		padding-top: 12px;
		padding-bottom: 12px;
		margin: 15px;
		margin-bottom: 40px;		

	}

	.btn--default.theme__colors {

	}

	.grid__col--6.theme__colors {
		flex-grow: 1;
		margin: 5px;
		justify-content: space-around;
	}

	.grid__col--4.theme__colors {
		flex-grow: 1;
		margin: 5px;
		justify-content: space-around;
	}

	.grid__col--3.theme__colors {
		flex-grow: 4;
		margin: 5px;
	}

	.grid__col--5.theme__colors {
		flex-grow: 1;
		margin: 5px;
	}

	.grid__col--7.theme__colors {
		flex-grow: 2;
		margin: 5px;
	}

	.grid__col--8.theme__colors {
		flex-grow: 2;
		margin: 5px;
		justify-content: space-around;
		
	}

	.grid__col--4.theme__colors {
		flex-grow: 1;
		margin: 5px;
		justify-content: space-around;
	
	}

	.grid__col--7.theme__colors.centered {
		flex-grow: .5;
		margin: auto;
		margin-bottom: 5px;
		margin-top: 5px;


	}