//variables  --------- /

$text_color: #808080;
$grid3_color: #bdabfc;
$grid4_color: #4DD7FF;
$grid5_color: #86dfa7;
$grid6_color: #148bae;
$grid7_color: #e58282;
$grid8_color: #f4aa89;
$grid12_color: #6adfad;
$hover_color: #6adfad;
$nav_color: #797e83;
$headline_primary_color: #49d09d;
$link_color: #3ac2ea;
$blockquote_color: #49d09d;
$textarea_color: #49d09d;
$success_color: #30d68f;
$default_color: #35b0ec;
$error_color: #d47453;	
$warning_color: #f48656;
$info_color: #9471ea;

//breakpoints

$break_s: 1px;
$break_m: 768px;
$break_lg: 1100px;

//font stack varibale

$fontStack : 'PT Sans', sans-serif;