


*{
box-sizing: border-box;	
font-family: $fontStack;	

}

body {
  
  font-family: 'Muli', sans-serif;
  zoom: 110%;
  color: gray;


}


 p {
	 	font-size: 14px;
	 	line-height: 19px;

	 }










